.App {
    background-color: #FFFFFF !important;
}

.GameOver {
    color: #f7B02B;
    margin-top: 20%;

    .parrot {
        display: block;
        margin: 0 auto;
        margin-top: 15%;
    }
}